.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Logo.svg");
    display: inline-block;
}


.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
   padding: 1em;
}

.lista-menu {
display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}
